html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
  margin 0
  padding 0
  border 0
  font-size 100%
  vertical-align baseline
  outline 0
  text-rendering optimizeLegibility
  box-sizing border-box

li
  list-style none

a
  color #000
  text-decoration none

body
  width 100%
  font-size 16px
  font-family Calibri,sans-serif,Helvetica,Arial
  color #000
  font-variant-ligatures no-common-ligatures
  -webkit-font-variant-ligatures no-common-ligatures

html
  width 100%

.chromeframe
  color #fff
  background #000
  width 100%
  text-align center
  height 100%
  position fixed
  padding-top 100px
  z-index 10000

a:active,a:hover
  outline 0

@-webkit-viewport
  width device-width

@-moz-viewport
  width device-width

@-ms-viewport
  width device-width

@viewport
  width device-width

.anin-rapido
  transition all .2s ease-out

.anin-normal
  transition all .5s ease-out

.anin-lento
  transition all 1s ease-out

.large-header
  width 100%
  background #ff0

.half-header
  background #ff0
  width 100%
  height auto

#titulo
  text-align center
  width 100%
  margin 0 auto
  padding 200px 0 200px 0
  h1
    font-size 37px
    font-weight 300
    padding-top 25px
  h2
    font-size 21px
    padding-top 10px
    font-style italic

#titulo-other
  width 90%
  max-width 1024px
  margin 0 auto
  padding 80px 0 32px 0
  img
    vertical-align middle
    width auto/9
    height auto
    max-width 150px
    padding-right 2em
    border-right 1px solid #000
  h1
    font-size 50px
    font-weight normal
    display inline-block
    text-indent 1em
    vertical-align middle

.slideDown
  animation-name slideDown
  -webkit-animation-name slideDown
  animation-duration 1s
  -webkit-animation-duration 1s
  animation-timing-function ease
  -webkit-animation-timing-function ease
  visibility visible !important

#navbar
  width 100%
  margin 0 auto
  background #f3f300
  position fixed
  z-index 20
  ul
    width 100%
    max-width 1200px
    height auto
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
    -webkit-justify-content space-around
    -ms-flex-pack distribute
    justify-content space-around
    margin 0 auto
  li
    height 48px
    width 33.3333%
    line-height 48px
    text-align center
    font-size 18px
    font-weight lighter
    text-transform uppercase
    letter-spacing 2px
    &:hover
      border-bottom 1px solid #e6c100

/*Busquedas*/
#rubro
  margin 0 auto
  max-width 90%
  padding 30px 0 30px 0
  strong
    font-size 1.5em
    text-transform uppercase

.parrafos-contenido
  width 100%
  article
    margin 0 auto
    padding 5em 0 5em 0
  h2
    font-size 2.5em
    padding 0 0 1em 0
    text-transform uppercase
    font-weight lighter
    letter-spacing 2px
    text-align center
  h3
    margin 0 auto
    text-transform uppercase
    font-weight lighter
    letter-spacing 2px
    font-size 25px
    width 90%
    max-width 700px
    padding 80px 0 20px 0
  p
    margin 0 auto
    line-height 1.5em
    max-width 800px
    width 80%
    font-size 21px

.yellow
  background #EFEFEF

#packs-content
  padding 3em 0 3em 0
  width 90%
  max-width 1024px
  margin 0 auto
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-wrap wrap
  -ms-flex-wrap wrap
  flex-wrap wrap
  -webkit-justify-content space-around
  -ms-flex-pack distribute
  justify-content space-around
  div
    padding 2em 0 1em 0
    width 30%
    background #fff
    border-radius 1px
  h3
    background #f3f300
    text-align center
    padding 10px 0 10px 0
    font-size 2em
    text-transform uppercase
    font-weight lighter
    letter-spacing 2px
  h4
    text-align center
    font-size 21px
    text-transform uppercase
    font-weight lighter
    letter-spacing 2px
  p
    width 80%
    margin 0 auto
    display block
    font-weight lighter
    padding 15px 0 15px 0
  ul
    width 80%
    margin 0 auto
    padding 15px 0 15px 0
  li
    font-weight lighter
    list-style disc
    list-style-position inside

.triangle
  display block
  width 100%
  margin 0 auto
  text-align center
  &:after
    content ''
    margin 0 auto
    width 0
    height 0
    border-left 25px solid transparent
    border-right 25px solid transparent
    border-top 25px solid #f3f300
    font-size 0

.boton-pack
  font-size 1.5em
  cursor pointer
  border-radius 1px
  text-align center
  line-height 2em
  display block
  margin 1em auto
  width 120px
  height 2em
  background #ffd600
  &:hover
    border solid 1px #F3F300

#main-video
  padding 5em 0 5em 0
  iframe
    display block
    margin 0 auto

#content-menu
  background #CCC
  padding 5em 0 5em 0

#menu-footer
  width 100%
  max-width 1200px
  margin 0 auto
  display flex
  flex-wrap wrap
  justify-content space-around

.list
  font-size 14px
  width 24%
  line-height 1.8em
  text-align center
  padding 2em 1em 2em 1em
  border-right 1px solid #000
  &:last-child
    border none
  a
    &:hover
      border-bottom 1px solid #000
  h4
    font-size 21px
    text-transform uppercase
    font-weight lighter
    letter-spacing 2px
    margin-bottom 1em

#main-footer
  background #fff
  color #3b3b3b
  max-width 1200px
  width 90%
  padding 2em 0 2em 0
  margin 0 auto
  img
    float left
    position relative
    top -15px
  p
    text-align right
    font-size 16px
    color #484848
  a
    color #484848

.big-image-profile
  width 100%
  height auto
  background-color #e7d400

.bio
  margin 0 auto
  width 90%
  max-width 1200px
  padding-top 5em
  hgroup
    background-color #FFF
    padding 2em 0 0.5em 2em
    background-position 80% 0
    background-repeat no-repeat
  aside
    background-color #FFF
    padding 0 0 1em 2em
    line-height 1.5em
  h1
    font-size 1.3em
  h2
    font-size 3em

.logo-edgar
  background-image url("../img/profile/edgarcornejo.png")

.logo-wilfredo
  background-image url("../img/profile/wilfredo.png")

.logo-arturo
  background-image url("../img/profile/arturoticona.png")
  
.logo-abogada
  background-image url("../img/profile/abogada.png")
  
.logo-fotos
  background-image url("../img/profile/fg.png")

.logo-jose
  background-image url("../img/profile/josecornejo.png")

.amelie
  background-image url("../img/profile/amelie-pasteleria-creativa.png")

#main-profile
  padding 2em 0 2em 0
  background #ebebeb

#perfil-contenido
  margin 0 auto
  max-width 1200px
  width 90%
  color #3b3b3b
  display flex
  flex-wrap wrap
  justify-content space-around
  div
    width 100%
    padding 2em 0 1em 0
    background-color #fff
    border-radius 3px
    margin-bottom 2em
  h2
    font-size 1.5em
    background #d7d7d7
    padding .4em
  p
    padding 2em 3em 1em 3em
  ul
    padding 2em 1em 2em 2em
    display flex
    flex-wrap wrap
  li
    padding .5em
    background #d7d7d7
    margin-right 1em
    margin-bottom 1em
    display inline-block
  a
    font-weight 400
    color #000
    display inline-block

.triangle-b
  display block
  width 100%
  margin 0 auto
  text-align center
  &:after
    content ''
    margin 0 auto
    width 0
    height 0
    border-left 25px solid transparent
    border-right 25px solid transparent
    border-top 25px solid #d7d7d7
    font-size 0

#lista-clientes
  width 100%
  height auto
  margin 0 auto
  background #EFEFEF
  article
    width 90%
    max-width 780px
    margin 0 auto
    a
      color #537AB4
      &:hover
        text-decoration underline
  h2, h3
    font-size 1.2em
    padding 3px 0 3px 0
    display inline-block
  h3
    font-weight lighter
    

.cliente
  width 100%
  margin 0 auto
  padding 1.3em 0 1.3em 0
  border-top solid 1px #CCCCCC
  background no-repeat 10% center
  background-size 80px 115px
  &:nth-child(1)
    background-image url("../img/profile/wilfredo.png")
  &:nth-child(2)
    background-image url("../img/profile/fg.png")
  &:nth-child(3)
    background-image url("../img/profile/edgarcornejo.png")
  &:nth-child(4)
    background-image url("../img/profile/arturoticona.png")
  &:nth-child(5)
    background-image url("../img/profile/josecornejo.png")
    background-color #FFF
  &:nth-child(6)
    background-image url("../img/profile/abogada.png")
  &:nth-child(7)
    background-image url("../img/profile/amelie-pasteleria-creativa.png")
  &:nth-child(5)
    &:before
      content 'Premiun'
      position relative
      top -10px
      background url("../tile.png") 0 0 no-repeat #FFF
      background-size contain
      border solid 2px #FFDC00
      margin 0 auto
      display block
      text-align center
      max-width 90px
      padding 5px 0px 5px 20px
      border-radius 5px
      font-weight bolder

.contenedor-contac
  display flex
  flex-wrap wrap
  justify-content space-between
  padding-top 5px
  font-size 14px

.caja-contac
  font-weight lighter

/*Responsive Web Design*/
/*@media screen and (max-width:1366px)*/


@media screen and (max-width:1024px)
  .bio
    background none
    
  .cliente
    background-image none !important

@media screen and (max-width:860px)
  #perfil-contenido a
    text-align center

  #perfil-contenido li
    text-align center
    width 100%

  .bio
    text-align center
    background none

  #perfil-contenido h2
    font-size 1.5em
  
  .logo-edgar, .logo-wilfredo, .logo-arturo, .logo-abogada, .logo-fotos, .logo-jose
    background none


@media screen and (max-width:720px)
  #navbar li
    font-size:12px
  
  #titulo-other
    padding 4em 0 4em 0
    img
      width auto/9
      height auto
      display block
      margin 0 auto
      max-width 150px
      padding 0
      border none
    h1
      font-size 37px
      display block
      text-align center
      text-indent 0
      
  .bio
    hgroup
      padding 2em 0 0.5em 0
    aside
      padding 0 0 1em 0
  
  #titulo h1
    font-size 27px
    padding 0 1em 0 1em
  
  #titulo h2
    font-size 1.5em
  
  .list
    width 50%
    line-height 2em
    text-align center
    padding-bottom 2em
    margin-bottom 2em
  
  .quitar
    border none
  
  #derechos
    width 90%
    display block
    margin 0 auto
    text-align center
  
  #packs-content
    display block
    div
      width 90%
      margin 1em auto

@media screen and (max-width:620px)
  #titulo
    padding 50px 0 50px 0
  
  #navbar
    position static
    ul
      display block
    li
      font-size 16px
    li
      height 50px
      width 100%
      line-height auto
      text-align center
  
  #perfil-contenido div
    margin 2em auto
  
  .bio
    padding 2em 0 2em 0
  
  #menu-footer
    display block
    margin 0 auto
  
  .list
    width 90%
    margin 0 auto
    border none
  
  #lista-clientes h3
    display inline-block
  
  #perfil-contenido
    display block
    div
      width 100%
  
  #main-video
    position relative
    padding-bottom 56.25%
    padding-top 25px
    height 0
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%

@media screen and (max-width:480px)
  #titulo
    position static
    width 100%
    margin 0 auto
      h1
      font-size 21px
      h2
      font-size 16px
  
  #demo-canvas
    display none
  
  .bio
    margin 0 auto
    padding 30px 0 30px 0
    h1
      font-size 1.5em
    h2
      font-size 2em
    h3
      font-size 1.5em
    h4
      font-size 1em
  
  #perfil-contenido
    p
      padding 15px
    ul
      display block
      margin 0 auto
      padding 15px
    ul li
      width 90%
      margin 10px auto
      display block


/*Animations*/
@-webkit-keyframes slideDown
    0%
      -webkit-transform translateY(-100%)
      transform translateY(-100%)
    50%
      -webkit-transform translateY(8%)
      transform translateY(8%)
    65%
      -webkit-transform translateY(-4%)
      transform translateY(-4%)
    80%
      -webkit-transform translateY(4%);
    transform translateY(4%)
    95%
      -webkit-transform translateY(-2%)
      transform translateY(-2%)
    100%
      -webkit-transform translateY(0%)
      transform translateY(0%)

@keyframes slideDown
  0%
    -webkit-transform translateY(-100%)
    transform translateY(-100%)
  50%
    -webkit-transform translateY(8%)
    transform translateY(8%)
  65%
    -webkit-transform translateY(-4%)
    transform translateY(-4%)
  80%
    -webkit-transform translateY(4%)
    transform translateY(4%)
  95%
    -webkit-transform translateY(-2%)
    transform translateY(-2%)
  100%
    -webkit-transform translateY(0%)
    transform translateY(0%)

@-webkit-keyframes slideDown
  0%
    -webkit-transform translateY(-100%)
  50%
    -webkit-transform translateY(8%)
  65%
    -webkit-transform translateY(-4%)
  80%
    -webkit-transform translateY(4%)
  95%
    -webkit-transform translateY(-2%)
  100%
    -webkit-transform translateY(0%)

@keyframes slideDown
  0%
    -webkit-transform translateY(-100%)
  50%
    -webkit-transform translateY(8%)
  65%
    -webkit-transform translateY(-4%)
  80%
    -webkit-transform translateY(4%)
  95%
    -webkit-transform translateY(-2%)
  100%
    -webkit-transform translateY(0%)
