/* Colores */
miniViolet = #950FFA
miniGreen = #B1BD44
miniYellow = #E2FA00
miniBlue = #0d4eff
minigreenOpaque = #777A56
minigreenDeep = #443252
miniWhite = #F2F2F2
miniBlack = #1a1f29

/* Border y Outline */
bordeNormal = solid clamp(2px, 0.1vw, 0.2vw) minigreenOpaque
radiusNormal = clamp(3px, 0.2vw, 0.3vw)

/* Font Size */
fontNormal = clamp(16px, 1vw, 1.2vw)

/* Padding */
paddignNormalH = clamp(16px, 2vh, 2.2vh)
paddignNormalW = clamp(16px, 2vw, 2.2vw)

/* Margin */
marginNormalH = clamp(16px, 2vh, 2.2vh)

/* Gap */
gapNormal = clamp(16px, 1vw, 1.1vw)

html
  font-size 16px

/* Body General */
body
  font-family "Atkinson Hyperlegible", sans-serif
  font-size fontNormal
  hyphens none
  background miniWhite
  color minigreenDeep

/* Seleccion */
::selection
  background miniGreen
  text-shadow none

/* Enlaces */
a
  color minigreenOpaque
  font-weight 700
  transition 0.2s all ease-in
  &:hover
    color miniBlack

.enlace-botom
  color miniWhite
  background miniBlue
  border-radius radiusNormal
  padding paddignNormalH
  transition all 0.2s ease-in-out
  display flex
  align-items center
  flex-direction row-reverse
  justify-content center
  gap gapNormal
  span
    font-size inherit
  &:hover
    background miniViolet
    color miniWhite


/* Component Nav */
.main-navigation
  position fixed
  border-bottom bordeNormal
  width 100%
  background rgba(226, 250, 0, 0.8)
  padding paddignNormalH 0 paddignNormalH 0
  backdrop-filter blur(8px)
  z-index 1
  animation aparecer 0.4s ease-in

@keyframes aparecer 
  0%
    opacity 0
  100%
    opacity 1

.input-menu,.open-menu,.closed-menu
  display none

.wrapper-menu
  width 90%
  max-width 1920px
  margin 0 auto
  display flex
  align-items center
  justify-content space-between
  menu
    display flex
    align-items center
    gap gapNormal
    a
      display flex
      align-items center
      gap gapNormal
      font-weight 400
      letter-spacing 1pt
      padding paddignNormalH
      border-radius radiusNormal
      outline bordeNormal
      &:hover span
        background miniBlack

.li-current
  color miniBlack !important
  font-weight 700 !important
  outline solid clamp(2px, 0.1vw, 0.2vw) miniBlack !important
  span
    background miniBlack !important

.logotipo
  img
    width auto
    height clamp(48px, 2vw, 2.2vw)
    transition 0.2s all ease-in
    &:hover
      filter invert(1)

/* Componente Header */
.wrapper-header
  background url(/img/struckaxiom.png), miniYellow
  background-blend-mode multiply
  width 100%
  padding clamp(120px, 13vh, 15vh) 0 clamp(48px, 5vh, 6vh) 0
  header
    width 90%
    max-width 1920px
    margin 0 auto
    display flex
    align-items center
    justify-content center
    animation aparecer 0.4s ease-in both
    animation-delay 0.4s
  img
    width clamp(80px, 8vw, 9vw)
    padding-right paddignNormalW
  div
    padding paddignNormalH 0 paddignNormalH paddignNormalW
    border-left bordeNormal
  h2
    font-size clamp(2em, 2vw, 2.1vw)
    font-weight 700
    line-height 100%
  h1
    line-height 100%

/* Contenido de página */
main
  width 100%
  background url(/img/struckaxiom.png)
  padding clamp(5rem, 6vh, 6.1vh) 0 clamp(5rem, 6vh, 6.1vh) 0

/* Página Index */
/* Contenedor de articles */
.wrapper-articles
  width 90%
  max-width 1920px
  margin 0 auto
  article
    display flex
    align-items center
    justify-content center
    padding paddignNormalW
    margin-bottom clamp(4rem, 4vh, 4.1vh)
    border-radius radiusNormal
    gap clamp(2rem, 2vw, 2.1vw)
    &:nth-child(odd) div
      background rgba(0,0,0,0.1)
      border-radius radiusNormal
  header
    width 100%
    padding paddignNormalW
    display flex
    align-items center
  h2,h3
    font-size clamp(1.8em, 3vw, 3.1vw)
    line-height 100%
    font-weight 700
    letter-spacing 1pt
    hyphens none
    padding paddignNormalH
  div
    width 100%
    padding paddignNormalH
    backdrop-filter blur(8px)
  p
    margin-bottom marginNormalH
  ul
    display flex
    flex-flow column wrap
    gap gapNormal
    padding paddignNormalH 0 paddignNormalH 0
  li
    line-height 140%
    list-style disc
    list-style-position inside
  strong
    font-weight 700

/* Paquetes */
#packs-content
  padding paddignNormalH 0 paddignNormalH 0
  width 90%
  max-width 1920px
  margin 0 auto
  display flex
  flex-wrap wrap
  justify-content space-around
  gap 2vw
  .pack
    display flex
    flex-flow column wrap
    gap gapNormal
    padding paddignNormalW
    width 48%
    border-radius radiusNormal
    border bordeNormal
  h3,h4
    text-align center
    font-size clamp(1.6em, 2vw, 2.1vw)
    font-weight 700
    letter-spacing 1pt
  h4
    font-size clamp(1.4em, 1.6vw, 1.7vw)
    font-weight 600
  p
    line-height 140%
  li
    line-height 160%
    list-style-type disc
    list-style-position inside

.boton-pack
  border-radius radiusNormal
  text-align center
  display block
  margin clamp(1rem, 1vw, 1.1vw) 0 clamp(1rem, 1vw, 1.1vw) 0
  padding paddignNormalH
  color minigreenDeep
  background miniYellow

/* Component Footer */
/* Aside y Footer */
.content-aside
  padding clamp(4rem, 6vh, 6.1vh) 0 clamp(4rem, 6vh, 6.1vh) 0
  background miniYellow

.wrapper-content-aside
  width 90%
  max-width 1920px
  margin 0 auto
  display flex
  justify-content space-between
  .wrapper-ul
    width 30%
  h4
    font-size clamp(1.4em, 1.6vw, 1.7vw)
    padding-bottom paddignNormalH
    margin-bottom marginNormalH
    font-weight 700
    border-bottom bordeNormal
  ul
    display flex
    flex-direction column
    gap gapNormal
  a
    font-weight 400
    color minigreenDeep
    padding 0.4vw

footer
  padding clamp(4rem, 4vh, 4.1vh) 0 clamp(4rem, 4vh, 4.1vh) 0
  display flex
  justify-content center
  small
    text-align center
  a
    display inline

/* Responsive Design */
@media screen and (max-width:1024px)
  /* Componente Header */
  .wrapper-header
    header
      flex-direction column
    div
      border 0
      text-align center

@media screen and (max-width:768px)
  /* Component Nav */
  .wrapper-menu
    menu
      display none
    .open-menu,.closed-menu
      img
        width 48px
        height auto
    .open-menu
      display block

  #menu:checked ~ .wrapper-menu
    .open-menu
      display none
    .closed-menu
      display block
    menu
      background miniYellow
      display flex
      width 100%
      top 80px
      left 0
      flex-direction column
      position absolute
      padding 2rem 0 2rem 0
      gap 2rem

  /* Contenedor de articles */
  .wrapper-articles
    article
      flex-wrap wrap
      padding 0
      margin-bottom 1rem
      gap 1rem
      &:nth-child(even) div
        background none
    header
      padding 1rem
    h2, h3
      text-align center
      width 100%
  
  /* Paquetes */
  #packs-content
    .pack
      width 100%

  /* Component Footer */
  .wrapper-content-aside
    flex-direction column
    justify-content center
    .wrapper-ul
      width 100%
      text-align center

  
  

    
