/* Colores */
miniViolet = #950FFA
miniGreen = #B1BD44
miniYellow = #E2FA00
miniBlue = #0d4eff
minigreenOpaque = #777A56
minigreenDeep = #443252
miniWhite = #fefefe
miniBlack = #1a1f29

.perfil
  width 90%
  max-width 1920px
  margin 0 auto
  h1
    font-size 2.2vw
    line-height 120%
    font-weight 700
  h2
    font-size 1.8vw
    line-height 120%
  h3
    font-size 1.6vw
    line-height 100%
    border-bottom solid 0.1vw miniViolet
    padding-bottom 0.6vw
    margin 1vw 0 1vw 0
  p
    font-size 1vw
    line-height 120%
    padding 1vw 0 1vw 0
    hyphens none
  figure
    padding 2vw 0 2vw 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    gap 1vw
  img
    min-height 30vh
    width auto
  figcaption
    text-align center
  ul
    padding 1vw 0 1vw 0
    width 100%
    display flex
    flex-wrap wrap
    gap 1vw
  li
    font-size 1.2vw
    line-height 100%
    hyphens none
    background miniBlue
    border-left solid 0.6vw miniViolet
    border-radius 0.2vw
    padding 0.8vw 0.6vw
    color miniWhite


.contacto
  padding 2vw 0 2vw 0
  display flex
  flex-wrap wrap
  justify-content space-between
  gap 1vw
  p
    outline 0.1vw solid minigreenOpaque
    padding 1vw 0 1vw 0
    border-radius 0.2vw
    transition all .1s ease-in-out
  b
    background miniYellow
    padding 1vw 1vw
    border-radius 0.2vw 0 0 0.2vw
  a
    padding 0.8vw

.card-container
  width 90%
  max-width 1920px
  margin 0 auto
  display flex
  justify-content space-between
  gap 1vw

.card-profile
  width 30%
  font-size 1vw
  line-height 120%
  background miniBlue

.card-category
  display block
  background rgba(0,0,0,0.1)
  color miniWhite
  border-radius 0.2vw 0.2vw 0 0
  text-align center
  padding 1vw
  letter-spacing 3pt
  text-transform uppercase
  font-weight 400

.card-descripcion
  display flex
  flex-direction column
  img
    max-height 20vh
    transition all 0.2s ease-in-out
  h3
    background miniViolet
    color miniWhite
    text-align center
    font-size 1.2vw
    padding 1.2vw 0 1vw 0
  p
    padding 1vw
    background rgba(0,0,0,0.2)
    border-radius 0 0 0.2vw 0.2vw
    hyphens none
    font-weight 400
    color miniWhite
    