/* Colores */
miniViolet = #950FFA
miniGreen = #B1BD44
miniYellow = #E2FA00
miniBlue = #0d4eff
minigreenOpaque = #777A56
minigreenDeep = #443252
miniWhite = #F2F2F2
miniBlack = #1a1f29

/* Border y Outline */
bordeNormal = solid clamp(2px, 0.1vw, 0.2vw) minigreenOpaque
radiusNormal = clamp(3px, 0.2vw, 0.3vw)

/* Font Size */
fontNormal = clamp(1em, 1vw, 1.2vw)

/* Padding */
paddignNormalH = clamp(1rem, 2vh, 2.2vh)
paddignNormalW = clamp(1rem, 2vw, 2.2vw)

/* Margin */
marginNormalH = clamp(1rem, 2vh, 2.2vh)

/* Gap */
gapNormal = clamp(1rem, 1vw, 1.1vw)

/* Buscador en Pagina de Profesionales */
#busqueda
  width 90%
  max-width 1920px
  padding paddignNormalH 0 paddignNormalH 0
  margin 0 auto
  h2
    text-transform uppercase
    text-align center
    padding-bottom paddignNormalW
    color miniBlue
  input
    height clamp(48px, 2vw, 2.1vw) !important
    font-size fontNormal !important
  button
    height clamp(48px, 2vw, 2.1vw) !important
    background miniBlue
    svg
      width clamp(32px, 1.4vw, 1.5vw)
      height auto

/* Estilos de archivos .md */
.perfil
  width 90%
  max-width 1920px
  margin 0 auto
  h1
    font-size clamp(2em, 2.2vw, 2.3vw)
    line-height 120%
    font-weight 700
  h2
    font-size clamp(1.8em, 1.8vw, 1.9vw)
    line-height 120%
  h3
    font-size clamp(1.6em, 1.6vw, 1.7vw)
    line-height 100%
    border-bottom bordeNormal
    padding-bottom paddignNormalH
    margin marginNormalH 0 marginNormalH 0
  p
    padding paddignNormalH 0 paddignNormalH 0
  figure
    padding paddignNormalW 0 paddignNormalW 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    gap gapNormal
  img
    min-height 30vh
    width auto
  figcaption
    text-align center
  ul
    padding paddignNormalH 0 paddignNormalH 0
    width 100%
    display flex
    flex-wrap wrap
    gap gapNormal
  li
    background miniBlue
    border-left solid clamp(5px, 0.8vw, 0.9vw) miniViolet
    border-radius radiusNormal
    padding clamp(1rem, 0.8vw, 0.9vw) clamp(0.8rem, 0.6vw, 0.7vw)
    color miniWhite
    a
      color miniWhite

.contacto
  padding paddignNormalW 0 paddignNormalW 0
  display flex
  flex-wrap wrap
  justify-content space-between
  gap gapNormal
  p
    outline bordeNormal
    padding clamp(1rem, 0.8vw, 1.1vw) 0 clamp(1rem, 0.8vw, 1.1vw) 0
    border-radius radiusNormal
    transition all .1s ease-in-out
  b
    background miniYellow
    padding clamp(1rem, 1vw, 1.1vw) clamp(1rem, 1vw, 1.1vw)
    border-radius radiusNormal 0 0 radiusNormal
  a
    padding clamp(1rem, 1vw, 1.1vw)

/* Profesionales y empresas */
/* Componente PerfilCard */
.card-profile
  width 48%
  border bordeNormal
  border-radius radiusNormal
  padding paddignNormalW
  a
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
  header
    color minigreenDeep
    padding clamp(1rem, 1vw, 1.1vw) 0 clamp(1rem, 1vw, 1.1vw) 0
    width 100%
  h2, h3
    line-height 100%
    font-size clamp(2rem, 2vw, 2.1vw)
  h3
    font-weight 400
  figure
    width 30%
    padding clamp(1rem, 0.6vw, 0.7vw)
    border bordeNormal
    border-radius radiusNormal
  figcaption
    padding-top clamp(1rem, 0.4vw, 0.5vw)
    text-align center

.card-category
  display block
  width 100%
  margin-bottom clamp(1rem, 0.6vw, 0.7vw)
  letter-spacing 3pt
  text-transform uppercase
  font-weight 700

.card-descripcion
  width 58%
  p
    font-weight 400

.card-tags
  padding-top paddignNormalH
  display flex
  flex-wrap wrap
  gap gapNormal
  span
    color minigreenDeep
    text-transform capitalize
    padding clamp(0.8rem, 0.4vw, 0.5vw)
    border-radius radiusNormal
    background miniYellow

/* Componente Pagination */  
.pagination
  width 100%
  height auto
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  gap gapNormal
  margin marginNormalH 0 marginNormalH 0
  a
    background miniBlue
    border-radius radiusNormal
    color miniWhite
    padding clamp(1rem, 1vw, 1.1vw)
    display flex
    justify-content center
    align-items center
    gap gapNormal
    text-wrap nowrap
    font-weight 700
    letter-spacing 2pt
    &:hover
      &:nth-child(odd)
        transform translatex(-.4rem)
      &:nth-child(even)
        transform translatex(.4rem)
  span
    font-size clamp(2rem, 2vw, 2.1vw)

/* Responsive Design */
@media screen and (max-width:768px)
  /* Componente PerfilCard */
  .card-profile
    width 100%