---
/* importando layout */
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Lo sentimos, la p치gina que quieres ver no est치 disponible o no existe.">
  <section class="wrapper-articles">
    <article>
      <header>
        <h2>404</h2>
      </header>
      <div>
        <p>Lo sentimos, la p치gina que quieres ver no est치 disponible o no existe.</p>
        <a href="/" title="Volver al Inicio" class="enlace-botom">Volver al Inicio <span class="material-symbols-rounded">home</span></a>
      </div>
    </article>
  </section>
</Layout>