---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Afiliarte - Publica tu profesión o empresa en Internet - Minilink Soluciones profesionales en Internet poner mi negocio en Internet"
  description="Solo debes enviarnos una mensaje a este correo <br> info@edgarcornejo.com <br> y nos comunicaremos con usted."
  h2="Afiliarte"
>
  <section class="[&>article]:my-8 [&>article>header>h2]:text-center [&>article>div]:max-w-[900px] [&>article>div]:text-center [&>article>div]:m-auto">
    <article>
      <header>
        <h2>Es asi de fácil</h2>
      </header>
      <div>
        <p>
          Para poder registrarte solo debes enviarnos un mensaje solicitando
          registrarte en <strong>Minilink</strong> al correo
          <strong
            ><a
              href="mailto:inilink@edgarcornejo.com"
              title="inilink@edgarcornejo.com">minilink@edgarcornejo.com</a
            ></strong
          > me comunicare con usted para solucionar sus dudas. <br /><br />
          <span>Co-fundador: Edgar Cornejo C.</span>
        </p>
      </div>
    </article>
  </section>
</Layout>
