---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="wrapper-articles">
    <article>
      <header>
        <h2>Ahora es mas fácil</h2>
      </header>

      <div>
        <p>
          Con <strong>Minilink Soluciones</strong> puedes hacerte conocer en Internet
          fácilmente, empieza ahora, las suscripciones son
          <strong>gratuitas</strong>.
        </p>
        <p>
          Estar <strong>presente en Internet</strong> es muy importante, por este
          medio puede encontrar clientes y ofrecer sus productos/servicios.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h2>Ofrecemos</h2>
      </header>

      <div>
        <p>
          Ofrecemos el servicio de <strong>publicidad para empresas</strong> y
          <strong>profesionales independientes</strong>, también servicios de
          <strong>diseño gráfico</strong>, <strong>desarrollo web</strong> y estrategias
          en Internet.
        </p>
      </div>
    </article>
  </section>

  <div id="packs-content">
    <div class="pack">
      <header>
        <h3>Profesional</h3>
      </header>

      <p>
        Quieres que te encuentren en Internet y ofrecer tus servicios, este
        paquete es para usted. Aumenta tus posibilidades de encontrar trabajo.
      </p>
      <ul>
        <h4>Descripción</h4>
        <br />
        <li>Imagen descriptiva</li>
        <li>Descripción que lo diferencia</li>
        <li>Servicios/Productos</li>
        <li>Datos de contacto</li>
        <li>Colocar tu oficina en Google Maps</li>
      </ul>
      <a
        href="https://www.minilink.edgarcornejo.com/afiliarte"
        title="Afiliarte"
        class="boton-pack anin-normal">Afiliarte</a
      >
    </div>

    <div class="pack">
      <header>
        <h3>Empresa</h3>
      </header>
      <p>
        Su empresa quiere tener más presencia en Internet, este paquete es el
        mejor. Que más personas conozcan su empresa para aumentar sus ventas.
      </p>
      <ul>
        <h4>Descripción</h4>
        <br />
        <li>Imagen de tu empresas</li>
        <li>Descripción de lo que hace tu empresa</li>
        <li>Servicios/Productos</li>
        <li>Datos de contacto</li>
        <li>Colocar tu empresa en Google Maps</li>
      </ul>
      <a
        href="https://www.minilink.edgarcornejo.com/afiliarte"
        title="Afiliarte"
        class="boton-pack anin-normal">Afiliarte</a
      >
    </div>

    <div class="pack">
      <header>
        <h3>WEB+</h3>
      </header>
      <p>
        Si no tienes un página web o quiere renovar su web, este paquete es para
        usted. Páginas webs que se ajustan a su servicio o producto.
      </p>
      <ul>
        <h4>Servicios</h4>
        <br />
        <li>Diseño y Desarrollo Web</li>
        <li>WordPress</li>
        <li>Diseño de logotipo</li>
        <li>Posicionamiento en buscadores</li>
        <li>Banners estáticos</li>
        <li>Mentoría</li>
      </ul>
      <a
        href="https://www.minilink.edgarcornejo.com/afiliarte"
        title="Cotizar"
        class="boton-pack anin-normal">Cotizar</a
      >
    </div>
  </div>

  <section class="container-video">
    <div id="main-video">
      <iframe src="https://www.youtube.com/embed/2wNKfzTi_o0" allowfullscreen=""
      ></iframe>
    </div>
  </section>
</Layout>

<style>
  /*Video Incrustado*/
  .container-video {
    padding: 2vw 0 2vw 0;
    max-height: 600px;
    max-width: 1024px;
    margin: 0 auto;
  }

  #main-video {
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 56.25%;
    max-height: 600px;
  }

  #main-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 600px;
  }

  @media screen and (max-width: 1024px) {
    .wrapper-articles article:nth-child(1),
    .wrapper-articles article:nth-child(2) {
      background: none;
    }
  }
</style>
