---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Nosotros"
  description="Es un directorio especializado y personalizado en profesionales y empresas. En el cual puedes presentarte a tus futuros clientes."
  h2="Nosotros"
>
  <section class="wrapper-articles">
    <article>
      <header>
        <h2>Minilink Soluciones</h2>
      </header>
      <div>
        <p>
          Es un directorio <strong
            >especializado y personalizado en profesionales y empresas.</strong
          > En el cual puedes presentarte a tus futuros clientes.
        </p>
        <p>
          Minilink Soluciones es una idea muy joven que está dando sus primeros
          pasos, damos nuestro esfuerzo para que esto crezca y poder ayudar a
          muchos más.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Detrás de Minilink</h3>
      </header>
      <div>
        <p>
          Mi nombre es Edgar Cornejo Co-fundador de Minilink Soluciones. Junto
          con un compañero de estudios tuvimos esta idea. Poder ayudar a <strong
            >empresas y profesionales independientes</strong
          > a publicar su empresa o profesiones.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Registro</h3>
      </header>
      <div>
        <p>
          Para poder ingresar a este directorio solo debes enviar un correo a <strong
            >minilink@edgarcornejo.com</strong
          > solicitando registrarte. Me comunicare con usted y le pediré la información
          que necesito para que empiece a publicar. La información que necesitas
          para publicar es la siguiente:
        </p>

        <ul>
          <li>Nombre de empresa o nombre propio</li>
          <li>Teléfono, correo, dirección y redes sociales</li>
          <li>Descripción de lo que hace usted o su empresa</li>
          <li>Servicios o productos que ofrece</li>
          <li>Una imagen de referencia (Imagen de la empresa o profesión)</li>
          <li>Logotipo</li>
        </ul>
      </div>
    </article>

    <article>
      <header>
        <h3>Verificación</h3>
      </header>
      <div>
        <p>
          Por motivos de <strong>seguridad</strong>, tendremos que <strong
            >verificar su información</strong
          > antes de publicarla, si comprobamos que la información enviada no es
          real, se procederá a comunicarle y eliminar su información en Minilink
          Soluciones.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Su información</h3>
      </header>
      <div>
        <p>
          No guardamos su información en bases de datos, la publicamos
          directamente en esta web en HTML. Toda información que decida publicar
          debe ser pública.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Que no puedo publicar</h3>
      </header>
      <div>
        <p>
          Nos reservamos el derecho a no permitir contenido sexual, violento y
          discriminador. Por ello no pondremos enlaces hacia páginas con este
          tipo de contenido.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Costo</h3>
      </header>
      <div>
        <p>
          Por el momento la afiliación es <strong>gratuita</strong>, cuando haya
          más empresas y profesionales publicando en Minilink, necesitaremos más
          servidores y tendremos que cobrar a los nuevos afiliados. Agradecemos
          a los primeros que se afiliaron por ello no se les realizara ningún
          cobro.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>Como me retiro</h3>
      </header>
      <div>
        <p>
          Si ya no deseas seguir publicando en Minilink, solo debes enviarnos un
          mensaje a <strong>minilink@edgarcornejo.com</strong> solicitando retirarte.
          Su información sera borrada sin dejar ningún dato.
        </p>
      </div>
    </article>

    <article>
      <header>
        <h3>En el futuro</h3>
      </header>
      <div>
        <p>
          Creemos en nuestro crecimiento y en el de nuestros clientes. Por ello
          creemos que esta idea tendrá nuevos horizontes y tal vez cambie pero
          no nuestra principal motivación, <strong
            >ayudar a todos ustedes</strong
          >. <br /><br />
          <span>Co-fundador: Edgar Cornejo C.</span>
        </p>
      </div>
    </article>
  </section>
</Layout>
