---

---

<aside class="w-full py-8 bg-gradient-to-b from-yellow-500 to-yellow-400">
  <section class="flex flex-col w-[90%] m-auto [&>div>h4]:text-center [&>div>h4]:font-bold [&>div>h4]:my-6 [&>div>h4]:uppercase [&>div>ul]:flex [&>div>ul]:flex-wrap [&>div>ul]:justify-center [&>div>ul]:list-none [&>div>ul]:gap-4 [&>div>ul>li]:pb-6 [&>div>ul>li>a]:p-4 [&>div>ul>li>a]:no-underline [&>div>ul>li>a]:bg-blue-600 [&>div>ul>li>a]:text-white [&>div>ul>li>a]:rounded lg:flex-row lg:justify-around">
    <div>
      <h4>Información</h4>
      <ul>
        <li><a href="/nosotros" title="Nosotros">Nosotros</a></li>
        <li>
          <a href="/profesionales-empresas/" title="Profesionales y Empresas"
            >Profesionales y Empresas</a
          >
        </li>
        <li><a href="/afiliarte" title="Afiliarte">Afiliarte</a></li>
      </ul>
    </div>

    <div>
      <h4>Recomendado</h4>
      <ul class="list-none">
        <li>
          <a href="https://www.edgarcornejo.com/" title="Edgar Cornejo"
            >Edgar Cornejo</a
          >
        </li>
        <li>
          <a href="https://fotos.edgarcornejo.com/" title="Fotos Gratis"
            >Fotos Gratis</a>
        </li>
        <li>
          <a
            href="https://www.edgarcornejo.com/publicaciones/"
            title="Publicaciones">Publicaciones</a>
        </li>
        <li>
          <a href="https://renovadesign.blogspot.com/" title="Renova Design"
            >Renova Design</a>
        </li>
      </ul>
    </div>
  </section>
</aside>

<footer class="w-[90%] m-auto py-4 text-center prose">
  <small>
    Un proyecto de 
    <a href="https://www.edgarcornejo.com" title="Edgar Cornejo">Edgar Cornejo</a>
    </small>
</footer>
