---

---

<aside class="content-aside">
  <section class="wrapper-content-aside">
    <div class="wrapper-ul">
      <h4>Información</h4>
      <ul>
        <li><a href="" title="Nosotros">Nosotros</a></li>
        <li>
          <a href="" title="Profesionales y Empresas"
            >Profesionales y Empresas</a
          >
        </li>
        <li><a href="" title="Afiliarte">Afiliarte</a></li>
      </ul>
    </div>

    <div class="wrapper-ul">
      <h4>Redes</h4>
      <ul>
        <li><a href="" title="LinkedIn">LinkedIn</a></li>
        <li><a href="" title="YouTube">YouTube</a></li>
      </ul>
    </div>

    <div class="wrapper-ul">
      <h4>Recomendado</h4>
      <ul>
        <li><a href="" title="Edgar Cornejo">Edgar Cornejo</a></li>
        <li><a href="" title="Fotos Gratis">Fotos Gratis</a></li>
        <li><a href="" title="Publicaciones">Publicaciones</a></li>
        <li><a href="" title="Renova Design">Renova Design</a></li>
      </ul>
    </div>
  </section>
</aside>

<footer>
  <small
    >Copyright &copy; <span id="copyright"></span>
    <a href="https://www.edgarcornejo.com" title="Edgar Cornejo"
      >Edgar Cornejo</a
    > | All Rights Reserved.</small
  >
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
