---
/* importando Assets */
import { Image } from "astro:assets";
import logo from "../assets/minilink.svg";
---

<nav class="main-navigation">
  <input id="menu" type="checkbox" class="input-menu" />

  <div class="wrapper-menu">
    <div class="logotipo">
      <a href="/" title="Volver al inicio del sitio">
        <Image src={logo} alt="Logotipo Minilink Soluciones" />
      </a>
    </div>

    <label for="menu" class="open-menu"
      ><span class="material-symbols-rounded">menu</span></label
    >
    <label for="menu" class="closed-menu"
      ><span class="material-symbols-rounded">close</span></label
    >
    <menu>
      <li>
        <a
          href="/profesionales-empresas/"
          title="Profesionales y Empresas"
          class="nav-li"
          >Profesionales y Empresas <span class="material-symbols-rounded"
            >business_center</span
          ></a
        >
      </li>
      <li>
        <a href="/nosotros" title="Nosotros" class="nav-li"
          >Nosotros <span class="material-symbols-rounded">groups</span></a
        >
      </li>
      <li>
        <a href="/afiliarte" title="Afiliarte" class="nav-li"
          >Afiliarte <span class="material-symbols-rounded">person_add</span></a
        >
      </li>
    </menu>
  </div>
</nav>

<script>
  import "../js/nav.js";
</script>
