---
/* importando Assets */
import { Image } from "astro:assets";
import logo from "../assets/minilink.svg";
---

<nav class="flex justify-between p-(--espacio) width-full bg-(--miniYellow)">
  <div class="p-(--espacio)">
    <a href="/" title="Inicio">
      <Image src={logo} alt="Logotipo Minilink Soluciones" class="w-6"/>
    </a>
  </div>

  <button popovertarget="abrir-menu" title="Abrir menu">
    <img src="/img/open.svg" alt="" class="p-(--espacio)">
  </button>

  <menu id="abrir-menu" popover class="w-screen mr-auto bg-(--miniYellow) rounded overflow-hidden p-(--espacio) [&>li]:text-center [&>li]:p-(--espacio) [&>li]:font-bold [&>li]:uppercase">
    <li>
      <a
        href="/profesionales-empresas/"
        title="Profesionales y Empresas"
        class="nav-li"
        >Profesionales y Empresas</a
      >
    </li>
    <li>
      <a href="/nosotros" title="Nosotros" class="nav-li"
        >Nosotros</a
      >
    </li>
    <li>
      <a href="/afiliarte" title="Afiliarte" class="nav-li"
        >Afiliarte</a
      >
    </li>
    <button popovertargetaction=hide popovertarget="abrir-menu" title="Cerrar menu" class="flex mr-auto justify-center w-full bg-(--miniGreen) p-(--espacio)">
      <img src="/img/closed.svg" alt="">
    </button>
  </menu>
</nav>

<style>
  [popover] {
    &:popover-open {
      opacity: 1;
    }
    &::backdrop {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  [popovertarget="abrir-menu"] {
    anchor-name: --abrir-menu;
  }

  #abrir-menu {
    top: anchor(--abrir-menu bottom);
    transition: translate .6s ease;
    translate: 0 0;
    @starting-style {
      width: 100vw;
      translate: 0 -500px;
      opacity: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
</style>