---
const { prevURL, nextURL } = Astro.props;
---

<nav class="flex justify-center gap-(--espacio1) w-full my-(--espacio1) *:p-(--espacio1) *:bg-(--miniBlue) *:rounded *:text-white">
  {
    prevURL && (
      <a href={prevURL} title="Atrás">
        Atrás
      </a>
    )
  }
  {
    nextURL && (
      <a href={nextURL} title="Siguiente">
        Siguiente
      </a>
    )
  }
</nav>